node_modules
*.tgz
*.log
*.swp
.cache
.parcel-cache
.kotatsu
.DS_Store
.idea
.vscode
build
dist
/test/e2e/screenshots/*.current.png
/test/e2e/screenshots/*.diff.png
/website/demo
/website/docs
/website/examples
/www
